@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body * {
  margin: 0;
}

.container {
  max-width: 1235px;
  margin: auto;
}

/* MOBILE */
@media all and (max-width: 1200px) {
  .container {
    max-width: 338px;
  }

  .app {
    display: flex;
    flex-direction: column;
  }
}
